@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Signika+Negative:wght@300;400;500;600&display=swap");
:root {
  --primary-color: #83512e;
  --secondary-color: #6b696e;
  --gray-color: #939298;
  --primarylight-color: #dbad79;
  --pink-color: #f1e0d0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

.container {
  max-width: 1300px;
  margin: auto 3rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  color: var(--secondary-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--primary {
  background: var(--primarylight-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid var(--primarylight-color);
}

.btn--primary:hover {
  background-color: snow;
  border: 2px solid var(--primarylight-color);
  border-radius: 0.5rem;
}

.btn--secondary {
  background: transparent;
  color: var(--gray-color);
}

.btn--secondary:hover {
  color: var(--gray-color);
  background: var(--primarylight-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.text-xs {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

.text-sm {
  font-size: 1rem;
  line-height: 2rem;
}

.text-base {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.text-lg {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.text-xl {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.text-2xl {
  font-size: 2.2rem;
  line-height: 3.2rem;
}

.text-3xl {
  font-size: 2.5rem;
  line-height: 3.6rem;
}

.text-4xl {
  font-size: 2.8rem;
  line-height: 4rem;
}

.text-5xl {
  font-size: 3.5rem;
  line-height: 5.8rem;
}

.text-6xl {
  font-size: 5rem;
  line-height: 6rem;
}

.font-lighter {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 700;
}

.font-bold {
  font-weight: 900;
}

.line-height-2 {
  line-height: 2;
}

.line-height-1_6 {
  line-height: 1.6;
}

.line-height-0 {
  line-height: initial;
}

.text-center {
  text-align: center;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.z-1 {
  z-index: 1;
}

.z-9 {
  z-index: 9;
}

.z-99 {
  z-index: 99;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.my-14 {
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.shadow-sm {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-1 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.shadow-2 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
}

.w-100 {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none !important;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightp {
  padding-right: 0 !important;
}

header .header__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

header .header__items .header__items--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__items .header__items--left p a {
  color: var(--secondary-color);
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .header__items .header__items--left p a:hover {
  color: var(--gray-color);
}

header .header__items .header__items--center h2 {
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem var(--gray-color);
}

header .header__items .header__items--center p {
  color: var(--gray-color);
  letter-spacing: 0.1rem;
}

header .header__items .header__items--right button,
header .header__items .header__items--right i {
  margin: 0.5rem;
}

header .header__items .header__items--right button a {
  color: var(--secondary-color);
  letter-spacing: 0.1rem;
}

header .header__items .header__items--right i {
  color: var(--secondary-color);
  padding: 0.7rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .header__items .header__items--right .shopIcon:hover {
  background-color: var(--primarylight-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

header .header__items .header__items--right .searchInp {
  left: 1rem;
  top: 7.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primarylight-color);
  padding: 1rem 2rem;
  display: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

header .header__items .header__items--right .deleteSearch {
  top: 7.3rem;
  left: 18rem;
  z-index: 1;
  display: none;
}

main {
  padding-top: 2rem;
}

main .hero {
  height: 85vh;
}

main .hero .hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero .hero__wrapper img {
  left: 40rem;
}

main .hero .hero__wrapper .hero__circle {
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  background-color: var(--pink-color);
  left: 35rem;
  z-index: -1;
}

main .hero .hero__wrapper .hero__right {
  padding-top: 5rem;
  padding-right: 2rem;
}

main .hero .hero__wrapper .hero__right .hero__right--up {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .hero .hero__wrapper .hero__right .hero__right--up h2 {
  color: var(--primary-color);
  text-shadow: 0.1rem 0.1rem var(--gray-color);
}

main .hero .hero__wrapper .hero__right .hero__right--up p {
  color: var(--gray-color);
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

main .hero .hero__wrapper .hero__right .hero__right--up h3 {
  color: var(--secondary-color);
  padding-top: 1rem;
  border-bottom: 2px solid var(--secondary-color);
}

main .hero .hero__wrapper .hero__right .hero__right--down {
  padding-top: 2rem;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper {
  padding-top: 2rem;
  height: 20rem;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper-wrapper .swiper-slide img {
  width: 10rem;
  background-size: cover;
  border-radius: 0.5rem;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper__title .swiper__title--buttons .swiper-button-prev {
  color: var(--primary-color);
  left: 22rem;
  top: 20px;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper__title .swiper__title--buttons .swiper-button-prev:after {
  font-size: 2rem;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper__title .swiper__title--buttons .swiper-button-next {
  color: var(--primary-color);
  top: 20px;
}

main .hero .hero__wrapper .hero__right .hero__right--down .swiper .swiper__title .swiper__title--buttons .swiper-button-next::after {
  font-size: 2rem;
}

main .hero .hero__wrapper .hero__left {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .hero .hero__wrapper .hero__left h2 {
  padding-top: 1rem;
  color: var(--secondary-color);
  letter-spacing: 0.1rem;
}

main .hero .hero__wrapper .hero__left h1 {
  padding-top: 1rem;
  text-shadow: 0.1rem 0.1rem var(--gray-color);
  color: var(--primary-color);
}

main .hero .hero__wrapper .hero__left p {
  padding-top: 1rem;
  letter-spacing: 0.1rem;
  color: var(--gray-color);
}

main .hero .hero__wrapper .hero__left button {
  margin-top: 2rem;
}

main .hero .hero__wrapper .hero__left button i {
  padding-left: 0.5rem;
}

main .service {
  min-height: 70vh;
  background: var(--pink-color);
}

main .service .service__wrapper {
  padding-top: 8rem;
}

main .service .service__wrapper .service__title h3 {
  color: var(--secondary-color);
  letter-spacing: 0.1rem;
}

main .service .service__wrapper .service__title h2 {
  color: var(--primary-color);
  text-shadow: 0.1rem 0.1rem var(--gray-color);
  letter-spacing: 0.1rem;
}

main .service .service__wrapper .service__title p {
  color: var(--gray-color);
  letter-spacing: 0.1rem;
}

main .service .service__wrapper .service__items {
  padding-top: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .service .service__wrapper .service__items .service__items--item {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .service .service__wrapper .service__items .service__items--item .items__item--icon {
  width: 10rem;
  height: 10rem;
  background-color: snow;
  border-radius: 1rem;
}

main .service .service__wrapper .service__items .service__items--item .items__item--icon i {
  font-size: 6rem;
  padding: 2rem;
  color: var(--primarylight-color);
}

main .service .service__wrapper .service__items .service__items--item .items__item--icon:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

main .service .service__wrapper .service__items .service__items--item p {
  color: var(--secondary-color);
  padding: 1rem 0;
  letter-spacing: 0.1rem;
}

main .service .service__wrapper .service__items .service__items--item h4 {
  color: #333535;
  letter-spacing: 0.1rem;
}

main .service .service__wrapper .service__items .service__items--item:hover {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

main .collection {
  padding-top: 5rem;
}

main .collection .collection__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--up {
  min-height: 15vh;
  background-color: var(--pink-color);
  width: 60rem;
  border-radius: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--up .left__up--left {
  width: 60rem;
  background-color: var(--pink-color);
  border-radius: 1rem;
  padding: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--up .left__up--left h2 {
  color: #333535;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

main .collection .collection__cards .collection__cards--left .cards__left--up .left__up--left p {
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

main .collection .collection__cards .collection__cards--left .cards__left--up .left__up--left h3 {
  color: var(--secondary-color);
  padding-top: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--up img {
  width: 25rem;
  z-index: 1;
}

main .collection .collection__cards .collection__cards--left .cards__left--bottom {
  margin-top: 1rem;
  background-color: var(--pink-color);
  width: 60rem;
  border-radius: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--bottom .left__bottom--left {
  width: 60rem;
  background-color: var(--pink-color);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--bottom .left__bottom--left h2 {
  color: #333535;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

main .collection .collection__cards .collection__cards--left .cards__left--bottom .left__bottom--left p {
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

main .collection .collection__cards .collection__cards--left .cards__left--bottom .left__bottom--left h3 {
  color: var(--secondary-color);
  padding-top: 1rem;
}

main .collection .collection__cards .collection__cards--left .cards__left--bottom img {
  width: 20rem;
  z-index: 1;
}

main .collection .collection__cards .collection__cards--right {
  background-color: var(--pink-color);
  width: 60rem;
  border-radius: 1rem;
}

main .collection .collection__cards .collection__cards--right .cards__right--left {
  width: 60rem;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1;
}

main .collection .collection__cards .collection__cards--right .cards__right--left h2 {
  color: #333535;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

main .collection .collection__cards .collection__cards--right .cards__right--left p {
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

main .collection .collection__cards .collection__cards--right .cards__right--left h3 {
  color: var(--secondary-color);
  padding-top: 1rem;
}

main .collection .collection__cards .collection__cards--right img {
  width: 45rem;
  left: 22rem;
}
/*# sourceMappingURL=style.css.map */